<!-- Core -->
<script src="{{ config.ASSETS_ROOT }}/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="{{ config.ASSETS_ROOT }}/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="{{ config.ASSETS_ROOT }}/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="{{ config.ASSETS_ROOT }}/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Charts -->
<script src="{{ config.ASSETS_ROOT }}/vendor/chartist/dist/chartist.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Datepicker -->
<script src="{{ config.ASSETS_ROOT }}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="{{ config.ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="{{ config.ASSETS_ROOT }}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Notyf -->
<script src="{{ config.ASSETS_ROOT }}/vendor/notyf/notyf.min.js"></script>

<!-- Simplebar -->
<script src="{{ config.ASSETS_ROOT }}/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="{{ config.ASSETS_ROOT }}/js/volt.js"></script>


<!-- Icons -->
<link rel="icon" href="/static/favicon.png" />
<link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
<link rel="manifest" href="/static/site.webmanifest" />
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#2095f3" />

<!-- Scripts -->
<!-- Make Django's internationalization functionality available in client code. -->
<script src="/jsi18n/"></script>
<script src="/static/js/global_t.js"></script>

<script src="/static/compiled/vendors-3c909f5cde0b5d16e5ee.js"></script>
<script src="/static/compiled/app-77613636360bfb3922a8.js"></script>


<!-- Stylesheets -->





<script src="/static/js/redirect_obsolete_browsers.js"></script>